{% extends "base.html" %}

{% block title %}Transaktion hinzufügen{% endblock %}

{% block content %}
<h2>Transaktion hinzufügen</h2>
<form action="{{ url_for('add_transaction') }}" method="POST">
    <input type="number" name="amount" placeholder="Betrag" required>
    <input type="text" name="category" placeholder="Kategorie" required>
    <select name="transaction_type">
        <option value="income">Einnahme</option>
        <option value="expense">Ausgabe</option>
    </select>
    <button type="submit">Hinzufügen</button>
</form>
{% endblock %}
