<!-- app/templates/add_savings_goal.html -->
{% extends "base.html" %}

{% block title %}Sparziel hinzufügen - MoneyMap{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Sparziel hinzufügen</h2>
    <form action="{{ url_for('main.add_savings_goal') }}" method="POST" class="mt-3">
        <div class="form-group">
            <label for="name">Name des Sparziels:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Sparziel" required>
        </div>
        <div class="form-group">
            <label for="target_amount">Zielbetrag (€):</label>
            <input type="number" class="form-control" id="target_amount" name="target_amount" placeholder="Zielbetrag" step="0.01" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Hinzufügen</button>
    </form>
</div>
{% endblock %}
